runpod
numpy
pandas
torch
torchvision
torchaudio
scikit-learn

gensim
h5py
librosa
numba
opencv-python
pylint
pyparsing
scikit-learn
scipy
six
SoundFile
spacy
spacy-legacy
spacy-loggers
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tokenizers
torch
tqdm
urllib3
zsvision